#profile-menu {
    margin: 0px;
    position: absolute;
    overflow: auto;
    z-index: 0;
    top: 55px;
    right: 5px;
    background-color: var(--button-color);
    padding: 0px;
    border-radius: 10px;
    border: solid 1px;
    border-color: var(--selected-color)
  }


.scrollwindow::-webkit-scrollbar {
    width: 100px;
    height: 10px;
    position: absolute;
    left: 0;
}

.bar {
  display: none;
}

.more-menu-btn {
  position: absolute;
  border-width: 3px;
  border-radius: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  top: 0px;
  right: 0px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

