#profile-menu {
    margin: 0px;
    position: absolute;
    overflow: auto;
    z-index: 0;
    top: 55px;
    right: 5px;
    background-color: var(--button-color);
    padding: 0px;
    border-radius: 10px;
    border: solid 1px;
    border-color: var(--selected-color)
  }


.scrollwindow::-webkit-scrollbar {
    width: 100px;
    height: 10px;
    position: absolute;
    left: 0;
}

.bar {
  display: none;
}

.more-menu-btn {
  position: absolute;
  border-width: 3px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  border: solid;
  border-width: 3px;
  border-radius: 50px;
  top: 0px;
  right: 0px;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  padding-top: 5px;
}