@charset "UTF-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.title {
    font-size: 4rem;
    position: relative;
}

button {
    border-width: 3px;
    border-radius: 10px;
    height: 90px;
    width: 30%;
    border: solid;
    padding: 10px;
}

.scrollwindow {
    
}

.MainButtons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.fat {
    border-color: rgba(20, 0, 150, .9);
    background-color: rgba(20, 0, 150, .5);
}

.weight {
    border-color: rgba(120, 120, 120, .9);
    background-color: rgba(120, 120, 120, .5);
}

.muscle {
    border-color: rgba(115, 0, 0, .9);
    background-color: rgba(115, 0, 0, .5);
}

.chart {
    position: relative;
    left: 0px;
}