{% extends "index.html" %}
{% block title %}
<title>edit</title>
{% endblock title %}

{% block content %}
<img class="logo-pic" src="{{url_for('static', filename='img/logo/logo-white.png')}}" alt="GAINS">
<a class="backbutton" href="{{ url_for('home') }}"> ❮ Bearbeiten</a>
<div class="datalist">
    <div class="swipe-container" ontouchend="handleSwipe()" onclick="updateData(event)">
        <div class="element">
            25.5.2024<div class="fat">24,52%</div><div class="weight">123,43kg</div><div class="muscle">12,91%</div>
        </div>
        <div class="action right">
            Löschen
        </div>
    </div>
</div>
{% endblock content %}