{% extends "index.html" %}
{% block title %}
<title>edit</title>
{% endblock title %}

{% block content %}
<div class="title">GAINS</div>
<a class="backbutton" href="{{ url_for('home') }}"> ❮ Fettanteil/Körpermasse/Muskelmasse</a>
<div class="datalist">
    <div class="swipe-container" ontouchend="handleSwipe()" onclick="updateData(event)">
        <div class="swipe-element">
            25-5-2024 | 24,52%
        </div>
        <div class="action right">
            Löschen
        </div>
    </div>
</div>
{% endblock content %}