{% extends "index.html" %}
{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
<div class="title">GAINS</div>
{% include "snippets/data.html" %}
<br>
<div class="MainButtons">
    <button class="fat" id="btn-fat" onclick="leftClick(event)" oncontextmenu="return rightClick(event)"> Körper&shy;fett </button>
    <button class="weight" id="btn-weight" onclick="leftClick(event)" oncontextmenu="return rightClick(event)"> Gewicht </button>
    <button class="muscle" id="btn-muscle" onclick="leftClick(event)" oncontextmenu="return rightClick(event)"> Muskel&shy;masse </button>
</div>
{% endblock content %}