{% extends "index.html" %}
{% block title %}
<title>Home</title>
{% endblock title %}

<!--TODO alle buttons unten auf eine neue ebene packen die man wie das profilmenü nach oben ziehen kann um statt 3 6 buttons angezeigt zu bekommen und dort ist auch ein button mit einem + um neue Kacheln einzufügen die dann einen neuen Graphen erzeugen den man selbst benennen kann und die farbe bestimmen kann-->
{% block content %}
<img class="logo-pic" src="{{url_for('static', filename='img/logo/logo-white.png')}}" alt="GAINS">
<div class="profile">
    <details id="profile-menu-btn">
        <summary>
            <img class="profile-pic" src="{{url_for('static', filename='img/icons/64x64profile.png')}}" alt="Profile">
        </summary>
            {% include "snippets/profile_menu.html" %}
    </details>
</div>
<div class="view">
    <div class="view-options">
        <input type="radio" id="week" value="week" name="view-options" checked/>
        <label class="tab" for="week">Woche</label>
        <input type="radio" id="month" value="month" name="view-options" />
        <label class="tab" for="month">Monat</label>
        <input type="radio" id="year" value="year" name="view-options" />
        <label class="tab" for="year">Jahr</label>
        <span class="glider"></span>
    </div>
</div>
{% include "snippets/data.html" %}
<br>
<div class="button-menu">
    <div class="bar"></div>
    <div class="MainButtons">
        <button class="weight" id="btn-weight" onclick="leftClick(event)" oncontextmenu="return rightClick(event)"> Gewicht </button>
        <button class="fat" id="btn-fat" onclick="leftClick(event)" oncontextmenu="return rightClick(event)"> Körper&shy;fett </button>
        <button class="muscle" id="btn-muscle" onclick="leftClick(event)" oncontextmenu="return rightClick(event)"> Muskel&shy;masse </button>
    </div>
    <details class="more-menu-btn" id="more-menu-btn">
        <summary>
            +
        </summary>
    </details>
</div>
{% endblock content %}