{% extends "index.html" %}
{% block title %}
<title>Login</title>
{% endblock title %}
{% block head_tags %}
<style>
    @media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
        html:not(.light-mode) body {
            background-image: conic-gradient(from var(--angle), #27002c, #000000, #27002c);
        }
    }

    @media (prefers-color-scheme: light) {
        html:not(.dark-mode) body {
            background-image: conic-gradient(from var(--angle), #660074, #ffffff, #660074);
        }
    }

    body {
                background-image: conic-gradient(from var(--angle),#27002c, #000000, #27002c );
                animation: animation 15s ease-in-out infinite;
                height: 100vh;
                background-size: 200% 200%;
                backdrop-filter: blur(150px);
                background-position: bottom;
                margin: 0;
            }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes animation {
        0% {
            --angle: -45deg;
        }
        50% {
            --angle: 45deg;
        }
        100% {
            --angle: -45deg;
        }
    }

    
</style>
{% endblock head_tags %}
{% block content %}

<img class="logo-pic-centered" src="{{url_for('static', filename='img/logo/logo.png')}}" alt="GAINS">
<div class="login">
    <form action="" method="post">
        <input type="text" name="username_input" placeholder="Benutzername"><br>
        <input type="password" name="password_input" placeholder="Passwort"><br>
        <button name="login_btn">Einloggen</button>
    </form>
    <a href="{{ url_for('register') }}" class="register">Neu registrieren</a>
</div>
{% endblock content %}