{% extends "index.html" %}
{% block title %}
<title>register</title>
{% endblock title %}
{% block head_tags %}
<style>
    @media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
        html:not(.light-mode) body {
            background-image: conic-gradient(from var(--angle), #27002c, #000000, #27002c);
        }
    }

    @media (prefers-color-scheme: light) {
        html:not(.dark-mode) body {
            background-image: conic-gradient(from var(--angle), #660074, #ffffff, #660074);
        }

        .logo-pic {
            filter: brightness(0.1) opacity(0.35);
        }
    }

    body {
                background-image: conic-gradient(from var(--angle),#27002c, #000000, #27002c );
                animation: animation 15s ease-in-out infinite;
                height: 100vh;
                background-size: 200% 200%;
                backdrop-filter: blur(150px);
                background-position: bottom;
                margin: 0;
            }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes animation {
        0% {
            --angle: -45deg;
        }
        50% {
            --angle: 45deg;
        }
        100% {
            --angle: -45deg;
        }
    }

    
</style>
{% endblock head_tags %}
{% block content %}
<img class="logo-pic-centered" src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="GAINS">
<div class="login">
    <form action="" method="post">
        <img class="regex" id="usernameCheck" src="{{ url_for('static', filename='img/icons/check.png') }}"><img class="regex" id="usernameX" src="{{ url_for('static', filename='img/icons/x.png') }}"></div> <input type="text" name="username_input" placeholder="Benutzername"><br><br>
        <!--TODO add email-->
        <img class="regex" id="firstPWCheck" src="{{ url_for('static', filename='img/icons/check.png') }}"><img class="regex" id="firstPWX" src="{{ url_for('static', filename='img/icons/x.png') }}"></div> <input type="password" name="password_input_1" placeholder="Passwort"><br>
        <img class="regex" id="secondPWCheck" src="{{ url_for('static', filename='img/icons/check.png') }}"><img class="regex" id="secondPWX" src="{{ url_for('static', filename='img/icons/x.png') }}"></div> <input type="password" name="password_input_2" placeholder="Passwort"><br>
        <button name="register_btn">Registrieren</button>
    </form>
    <p>
        <a href="/login">Abbrechen</a>
    </p>
</div>
{% endblock content %}
