{% extends "index.html" %}
{% block title %}
<title>register</title>
{% endblock title %}
{% block content %}
<img class="logo-pic-centered" src="{{url_for('static', filename='img/logo/logo.png')}}" alt="GAINS">
<div class="login">
    <form action="" method="post">
        <input type="text" name="username_input" placeholder="username"><br>
        <!--TODO add email-->
        <input type="password" name="password_input_1" placeholder="password"><br>
        <input type="password" name="password_input_2" placeholder="password"><br>
        <button name="register_btn">registrieren</button>
    </form>
</div>
{% endblock content %}
